MQTT_HOST=192.168.221.4
MQTT_PORT=1883
MQTT_TOPIC=vicenza/weather/data
# MQTT_USERNAME=
# MQTT_PASSWORD=

# OpenWeatherMap API Key (optional - nếu không có sẽ dùng dữ liệu mẫu)
# Lấy API key miễn phí tại: https://openweathermap.org/api
WEATHER_API_KEY=c06cbbb8c672c156e7cc7b854914e29a

